@import 'styles';

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

body, input, textarea, select {
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
}
