@import '../../../styles/styles';

input,
textarea {
  border: 1px solid $color-grey-2;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  outline: 0;
  transition: .2s ease;
  transition-property: background-color, color;
  width: 100%;

  :host(:not([dark-theme])) & {
    background-color: $color-white;
    color: $color-grey-7;
  }

  :host([dark-theme]) & {
    background-color: $color-grey-5;
    color: $color-grey-2;
  }
}

input {
  padding: 5px 5px;
}

textarea {
  min-height: calc(4px + 1.4rem * 1.2 * 3);
  padding: 2px 5px;
  resize: vertical;
}