$color-white: #ffffff;
$color-grey-1: #eaeaea;
$color-grey-2: #cccccc;
$color-grey-3: #a6a6a6;
$color-grey-4: #868686;
$color-grey-5: #4b4b4b;
$color-grey-6: #3c3f41;
$color-grey-7: #2b2b2b;
$color-black: #000000;

$color-shadow-light: transparentize($color-grey-7, .75);
$color-shadow-dark: transparentize($color-black, .5);
